{% extends 'templateAdmin.html.twig'%}
{% block pageTitle %}
Liste des produits
{% endblock %}
{% block body %}

{% if tabProduits is empty%}
La liste des produits dans la base de donnée est vide
{% else %}
{% for produit in tabProduits %}
{% endfor %}
<div class="row ">
    {% for produit in tabProduits %}
    <div class="card ms-2 mt-2" style="width: 18rem;">
        <img src="{{asset('/uploads/produits/') ~ produit.image | defaultImage}}" class="card-img-top "
            alt="image produit">
        <div class="card-body">
            <h5 class="card-title">{{produit.label}}</h5>
            <p class="card-text">{{produit.description}}</p>
            <a href="{{ path('app_admin_products_edit', {id: produit.id})}}" class="stylePagination"> editer</a>
            <a href="{{ path('app_admin_products_del', {id: produit.id})}}" class="card-link stylePagination">
                Supprimer
            </a>
        </div>
    </div>
    {% endfor %}
    {% if isPaginated is defined and isPaginated %} <div class="row mt-2 paginationProduct  ">

        <nav aria-label="col Page navigation example">
            <ul class="pagination">
                {% if page != 1 %} <li class="page-item"><a class="page-link stylePagination"
                        href="{{ path('app_admin_products', {page : page-1, nbr: nbr})}}">Précédent</a></li>
                {% endif %}
                {% for i in range(1, nbPage) %}
                <li class="page-item"><a class="page-link stylePagination"
                        href="{{ path('app_admin_products', {page : i, nbr: nbr})}}">{{i}}</a>
                </li>
                {% endfor %}
                {% if page < nbPage %} <li class="page-item"><a class="page-link stylePagination"
                        href="{{ path('app_admin_products', {page : page+1, nbr: nbr})}} ">Suivant</a></li>
                    {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}