<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{asset('assets/css/normalize.css')}}" rel="stylesheet" />

    <link href="{{asset('assets/css/styles.css')}}" rel="stylesheet" />
    <link href="{{asset('assets/css/styles-responsive.css')}}" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="#"> <img src="{{asset('assets/images/logo_blanc.png')}}" alt="imgLogo" class="imgLogo" />
            </a>
        </div>
        <div class="bgSearch">
            <select class="selectCategorie" name="categorie" id="idCategorie">
                <option value="">Categorie</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
            <input class="search" type="text" name="search" placeholder="Rechercher" />
        </div>
        <div class="menu">
            <img class="imgMenu" src="{{asset('assets/images/menu-responsive.png')}}" alt="image menu" />
            <div class="nav">
                <div class="nav-user">
                    <div class="infoUser">Bienvenue Jean-Francois</div>
                </div>
                <div class="nav-site">
                    <div class="btnMenuStyle">
                        <a href="#">s'inscrire</a>
                    </div>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="btnMenuStyle">
                        <a href="{{ path('app_logout') }}">se déconnecter</a>
                    </div>
                    {% else %}
                    <div class="btnMenuStyle">
                        <a href="{{ path('app_login') }}">se connecter</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </header>
    {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        {{message}}
    </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{message}}
    </div>

    {% endfor %}
    {% block body %}

    {% endblock %}
    {% block javascripts %}
    {% endblock %}

</body>

</html>